.checkbox {
  margin-right: 3%;
}

.checkboxRow {
  padding-bottom: 2%;
}

.row {
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
}

.checkboxRow:hover {
  cursor: pointer;
}

.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container input:checked ~ .checkmark {
  background-color: #6d9b66;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark::after {
  display: block;
}

.label:hover {
  background-color: #6d9b66;
  color: white;
  cursor: pointer;
}

.label {
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
}
