.cameraContainer {
  width: 10%;
  margin-right: 1%;
}

.label {
  font-weight: bold;
  margin-bottom: 1%;
  font-size: 1.2rem;
}

.toolbar {
  background-color: #d2d2d2;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -1%;
  display: flex;
}

.input {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  position: relative;
  border: none;
  font-size: 1rem;
  width: 70%;
}

.inputContainer {
  height: 100%;
  width: 7%;
}

.submitButton {
  cursor: pointer;
  padding: 1%;
  border-radius: 10px;
  margin-top: 11%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: lightblue;
  color: white;
  border: solid #7a8797 1px;
}

.submitButtonWrapper {
  width: 15%;
}

.submitButtonDisabled {
  opacity: 0.5;
  cursor: default;
}
